.App {
  text-align: center;
}
.Header {
  color: #fff;
  text-shadow: 1px 1px 5px black;
  background-color: black;
  padding: 30px;
  margin: 0px;
}
/* write your parent styles in here for your App.js */
